@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --gray: #d9dadd;
  }
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 1600px;
  color: var(--background);
  background: var(--gray);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  width: 100%;
  padding: 15px;
  background-color: var(--gray);
}
